body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 30px;
}
.name-highlight{
    color: orange;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfwidth img{
    width: 80%;
}
.top-banner{
    background-image: url("/images/code.svg");
    background-repeat: no-repeat;
    background-size: 45px;
    top: 0px;
}
.second-banner{
    background-image: url("/images/code.svg");
    background-repeat: no-repeat;
    background-size: 45px;
    top: 0px;
    background-position: right;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightSalmon, tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    
}
a:link {
    color: #FF0000;
  }
  
 
  a:visited {
    color: #00FF00;
  }
  
  a:hover {
    color: #FF00FF;
  }
  

  a:active {
    color: #0000FF;
  } 
.second-banner{
    margin-right: 35px !important; 
}
.glance{
    margin-left: 6.8%;
}
.single{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 70%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(206, 186, 178), tomato);
    border-image-slice: 1;
}
#blog{border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 20px;
}
